kaggle
duckdb
jupyter
pandas
matplotlib
numpy
# pytorch
tensorflow-data-validation
apache-beam[interactive]
tabulate
scikit-learn==1.2.2
jax
statsmodels
scikit-lego
xgboost==1.7.5
tensorflow==2.10.1
tfx==1.11.0
pylint