kaggle
duckdb
jupyter
pandas
matplotlib
numpy
# pytorch
tensorflow-data-validation
apache-beam[interactive]
tabulate
scikit-learn==1.2.2
jax
statsmodels
scikit-lego
xgboost==1.7.5
# tensorflow==2.12.0
tfx==1.13.0
pylint